<nav class="bg-black/30 backdrop-blur-lg border border-white/10 shadow-lg p-4 text-white sticky top-0 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-xl font-bold">{{title}}</a>

    <!-- Hamburger Menu Button (Visible on small screens) -->
    <button (click)="toggleMobileMenu()" class="md:hidden focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <!-- Hidden on small screens by default, shown when menu is open -->
    <!-- Visible and horizontal on medium screens and up -->
    <div [ngClass]="{'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen}" class="absolute top-16 left-0 w-full bg-gray-800 md:static md:w-auto md:bg-transparent md:flex md:items-center">
      <ul class="flex flex-col md:flex-row md:space-x-4 space-y-2 md:space-y-0 p-4 md:p-0 items-center">
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            class="block py-2 md:py-0 hover:text-gray-300" (click)="isMobileMenuOpen = false">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link"
            class="block py-2 md:py-0 hover:text-gray-300" (click)="isMobileMenuOpen = false">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link"
            class="block py-2 md:py-0 hover:text-gray-300" (click)="isMobileMenuOpen = false">Contact</a></li>
        <!-- Add other nav items here if needed -->
        <li class="flex items-center pt-2 md:pt-0">
          <app-bookmark-button></app-bookmark-button>
          <app-login-button class="ml-2"></app-login-button>
        </li>
        <li>
          <a href="https://github.com/flurbudurbur/shiori"><img class="w-8 h-8 hover:scale-105 transition-all" src="github-mark-white.svg" alt="github link"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
